SymposionGestoreSicurezza/SymposionGestoreSicurezzaClient/Connected Services/ServiceReferenceBroker/BrokerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BrokerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8001/SymposionBroker/BrokerService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8001/SymposionBroker/BrokerService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SymposionBrokerLib" />
      <xsd:import schemaLocation="http://localhost:8001/SymposionBroker/BrokerService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBroker_GestisciLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:GestisciLogin" />
  </wsdl:message>
  <wsdl:message name="IBroker_GestisciLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GestisciLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IBroker_GestisciLogin_AccessFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/SymposionBrokerLib" name="detail" element="q1:AccessFault" />
  </wsdl:message>
  <wsdl:message name="IBroker_GestisciIscrizione_InputMessage">
    <wsdl:part name="parameters" element="tns:GestisciIscrizione" />
  </wsdl:message>
  <wsdl:message name="IBroker_GestisciIscrizione_OutputMessage">
    <wsdl:part name="parameters" element="tns:GestisciIscrizioneResponse" />
  </wsdl:message>
  <wsdl:message name="IBroker_GestisciIscrizione_AccessFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/SymposionBrokerLib" name="detail" element="q2:AccessFault" />
  </wsdl:message>
  <wsdl:portType name="IBroker">
    <wsdl:operation name="GestisciLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IBroker/GestisciLogin" message="tns:IBroker_GestisciLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBroker/GestisciLoginResponse" message="tns:IBroker_GestisciLogin_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBroker/GestisciLoginAccessFaultFault" name="AccessFaultFault" message="tns:IBroker_GestisciLogin_AccessFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GestisciIscrizione">
      <wsdl:input wsaw:Action="http://tempuri.org/IBroker/GestisciIscrizione" message="tns:IBroker_GestisciIscrizione_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBroker/GestisciIscrizioneResponse" message="tns:IBroker_GestisciIscrizione_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBroker/GestisciIscrizioneAccessFaultFault" name="AccessFaultFault" message="tns:IBroker_GestisciIscrizione_AccessFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBroker" type="tns:IBroker">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GestisciLogin">
      <soap:operation soapAction="http://tempuri.org/IBroker/GestisciLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessFaultFault">
        <soap:fault use="literal" name="AccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GestisciIscrizione">
      <soap:operation soapAction="http://tempuri.org/IBroker/GestisciIscrizione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessFaultFault">
        <soap:fault use="literal" name="AccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BrokerService">
    <wsdl:port name="BasicHttpBinding_IBroker" binding="tns:BasicHttpBinding_IBroker">
      <soap:address location="http://localhost:8001/SymposionBroker/BrokerService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>