SymposionAmministratore/SymposionAmministratoreClient/Connected Services/ServiceReferenceBroker/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GestisciLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GestisciLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GestisciLoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GestisciIscrizione">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GestisciIscrizioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GestisciIscrizioneResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>